.nav{
    background: rgb(53, 53, 138);
    color: white;
    display: flex;
    justify-content: space-between;
    /* position: fixed; */
    width: 100%;
    z-index: 10;
}

.nav p{
    height: 100%;
    padding: 18px 14px;
    align-self: center;
    margin: 0px;
    font-weight: bold;
}

.nav p:hover{
    background: rgb(90, 90, 192);
    cursor: pointer;
}

.nav h2{
    margin: 10px 24px;
    align-self: center;
}